@model KontrolaLotow.Models.Flight

<div class="row">
    <div class="col-md-12">
        <h2 style="text-align: center">Szczegóły lotu</h2>
        <div>
            <p><strong>Numer lotu:</strong> @Model.NumerLotu</p>
            <p><strong>Data wylotu:</strong> @Model.DataWylotu</p>
            <p><strong>Miejsce wylotu:</strong> @Model.MiejsceWylotu</p>
            <p><strong>Miejsce przylotu:</strong> @Model.MiejscePrzylotu</p>
            <p><strong>Typ samolotu:</strong> @Model.TypSamolotu</p>
        </div>
    </div>
</div>
